
*,
*::before,
*::after {
  box-sizing: border-box;
}

.header {
    background-color: teal;
    color: white;
    float: none;
    text-align: center; 
    width: auto;   
    height: auto;
    padding: 0.5rem;
}

.card {
  border: turquoise 3px solid;
  max-width: 40rem;
  padding: 2rem;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
  "card_question"
  "answer_buttons"
  "btn";
  grid-template-columns: repeat(3, auto-fit, minmax(300px, 1fr));
   
  }

.btn:hover {
  border-color: black;
}


.nav-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: teal;
    color: white;
    text-align: center;
    padding: 0.5rem;  
}
  
  .nav-footer a {
      float: none;
      color: #f2f2f2;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
      width: 50px;
      height: 50px;
}

.nav-footer a:hover {
text-shadow:10px 5px 5px black;
}

a.active .fa-home {
background-color:yellowgreen;
}


  .submit {
    background-color:turquoise; 
    border: none;
    color: white;
    display: inline-block;
    font-size: 16px;
    margin-top: 1rem;
    margin-bottom: 3rem;
    margin-left: 100px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
  }
  
  .submit:hover {
    opacity: 0.7;  
  }
  


  
   
  