
*,
*::before,
*::after {
  box-sizing: border-box;
}

.header {
    background-color: #f6fafa;
    color: #920505;
    float: none;
    text-align: center; 
    width: auto;   
    height: auto;
    padding: 0.5rem;
    opacity: 0.5;
}

.card {
 background-color: #f6fafa;
 border: 2px #920505 solid;
 opacity: 0.5;
 text-shadow: ;
  max-width: 40rem;
  padding: 2rem;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
  "card_question"
  "answer_buttons"
  "btn";
  grid-template-columns: repeat(3, auto-fit, minmax(300px, 1fr));
   
  }

.card_headline {
  color:#000000;
  font-weight: bold;
}

  .card_question {
    color:#000000;
    font-weight: bold;
  }

  .answer_buttons {
    color:#000000;
    font-weight: bold;
  }

  .card_answer {
    color:#000000;
    font-weight: bold;
  }

.btn:hover {
  border-color: black;
}

.bookmark {
  display: block;
  position: relative;
}

.bookmark2 {
  display: block;
  position: relative;
}
.bookmark3 {
  display: block;
  position: relative;
}
.bookmark4 {
  display: block;
  position: relative;
}

.book {
  position:absolute; 
  left: 300px; 
  top: -40px;
}

.book2 {
  position:absolute; 
  left: 300px; 
  top: -40px;
}
.book3 {
  position:absolute; 
  left: 300px; 
  top: -40px;
}
.book4 {
  position:absolute; 
  left: 300px; 
  top: -40px;
}

.bookmark.book:hover {
  color: #920505
}

.nav-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f6fafa;
    color: #920505;
    text-align: center;
    padding: 0.5rem;  
    opacity: 0.5;
}
  
  .nav-footer a {
      float: none;
      color: #920505;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
      width: 50px;
      height: 50px;
}

.nav-footer a:hover {
text-shadow:10px 5px 5px black;
}

a.active .fa-home {
background-color:yellowgreen;
}

a.active .fa-book {
  background-color:yellowgreen;

}

a.active .fa-pencil {
  background-color:yellowgreen;

}

a.active .fa-user {
  background-color:yellowgreen;

}

  .submit {
    background-color:turquoise; 
    border: none;
    color: white;
    display: inline-block;
    font-size: 16px;
    margin-top: 1rem;
    margin-bottom: 3rem;
    margin-left: 100px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
  }
  
  .submit:hover {
    opacity: 0.7;  
  }
  


  
   
  