:root {
  --primary: gray #ededed;
  --secondary: #40e0d0;
  --ff-sans: "helvetica";
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
}

.subtitle {
  margin-left: 20pt;
  color: #000000;
  font-weight: bold;
  text-align: center;
}

ul[class],
ol[class] {
  list-style: none;
  margin: 0;
}

body {
  font-size: 1.25rem;
  line-height: 1.5;
  background-image: url("../images/stefano-stacchini-xCUctJnFY8k-unsplash.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}
